In [1]:
import pandas as pd
import numpy as np

load_school_data = "Resources/schools_complete.csv"
load_student_data = "Resources/students_complete.csv"

school_data_df = pd.read_csv(load_school_data)
student_data_df = pd.read_csv(load_student_data)

merged_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [47]:
#Calculate the total number of schools
total_schools = len(school_data_df['school_name'])

#District student count
dist_student_count = school_data_df['size'].sum()

#Calculate the total budget
total_budget = school_data_df['budget'].sum()

#Calculate the average math score
avg_math_score = student_data_df['math_score'].mean()

#Calculate the average reading score
avg_reading_score = student_data_df['reading_score'].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
num_passing_math = student_data_df.loc[student_data_df['math_score'] >= 70]['math_score'].count()
perc_passing_math = (num_passing_math/dist_student_count)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
num_passing_reading = student_data_df.loc[student_data_df['reading_score'] >= 70]['reading_score'].count()
perc_passing_reading = (num_passing_reading/dist_student_count)*100

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing = (avg_math_score + avg_reading_score)/2

In [48]:
#Create a district summary of above info
district_summary_df = pd.DataFrame({   
    "Total Schools": [total_schools],
    "Total Students": [dist_student_count],
    "Total Budget": [total_budget],
    "Average Reading Score": [avg_reading_score],
    "Average Math Score": [avg_math_score],
    "% Passing Reading":[perc_passing_reading],
    "% Passing Math": [perc_passing_math],
    "% Overall Passing Rate": [overall_passing]
})

dist_sum = district_summary_df[["Total Schools", 
                             "Total Students", 
                             "Total Budget","Average Math Score", 
                             "Average Reading Score",'% Passing Math',  
                             '% Passing Reading', 
                             '% Overall Passing Rate']]

dist_sum.style.format({"Total Budget": "${:,.2f}",
                       "Average Reading Score": "{:.1f}",
                       "Average Math Score": "{:.1f}"})

In [41]:
#Create a school summary
by_school = merged_df.set_index('school_name').groupby(['school_name'])

school_types = school_data_df.set_index('school_name')['type']

student_per_school = by_school['Student ID'].count()

school_budget = school_data_df.set_index('school_name')['budget']

student_budget = school_data_df.set_index('school_name')['budget']/school_data_df.set_index('school_name')['size']

avg_math = by_school['math_score'].mean()
avg_read = by_school['reading_score'].mean()

pass_math = merged_df[merged_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_per_school 
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_per_school 
overall = (pass_math + pass_read)/2 

school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": student_per_school,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})

school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]

school_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

In [34]:
#Top Performing Schools (By Passing Rate)
top_5 = school_summary.sort_values("Overall Passing Rate", ascending = False)
top_5.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

In [35]:
#Bottom Performing Schools (By Passing Rate)
bottom_5 = top_5.tail()
bottom_5 = bottom_5.sort_values('Overall Passing Rate')
bottom_5.style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})

In [51]:
#Math Scores by Grade
ninth_math = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_score_avgs = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})

math_score_avgs = math_score_avgs[['9th', '10th', '11th', '12th']]
math_score_avgs.index.name = "School"

math_score_avgs.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [50]:
#Reading Scores by Grade
ninth_reading = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

reading_score_avgs = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})

reading_score_avgs = reading_score_avgs[['9th', '10th', '11th', '12th']]
reading_score_avgs.index.name = "School"

reading_score_avgs.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

In [56]:
# Scores by School Spending
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], spending_bins, labels = group_names)

by_spending = merged_df.groupby('spending_bins')

avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = (pass_math + pass_read)/2
        
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_names)

scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [58]:
#Scores by School Size
school_size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
merged_df['school_size_bins'] = pd.cut(merged_df['size'], school_size_bins, labels = group_names)

by_size = merged_df.groupby('school_size_bins')

avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('school_size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('school_size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('school_size_bins')['Student ID'].count()/by_size['Student ID'].count()
                       
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_names)

scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [59]:
#Scores by School Type
by_type = merged_df.groupby("type")

avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
         
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"

scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})